
* {
  margin:0px;
  padding:0px;
}

.body {
  background-color:#FFD700;
}

.navbar {

}

.navbar-second {
  width:auto;
  height:auto;
  padding-bottom:10px;
}

.d-inline-block {
  width:65px;
  height:60px;
  color:none;
  margin-left:30px;
}

.main-container {
  width:auto;
  height:80px;
}

.wiki-title {
  width:auto;
  height:auto;
  margin-top:14px;
}

.title-web {
  font-family: "Bebas Neue", sans-serif;
  text-align:center;
  font-size:30px;
}

.container-content {
  width:100%;
  height:auto;
  margin:auto;
  padding-top:10px;
}

.container-about {
  width:85%;
  height:auto;
  background-color:#f5ca0c;
  border-radius:5px 5px;
  padding:5px 5px;
  margin:auto;
  margin-top:10px;
}

.container-text-about {
  width:auto;
  height:auto;
}

.text-about {
  font-family: "Source Sans 3", sans-serif;
}

.content-about {
  font-family: "Work Sans", sans-serif;
}

.misi,li {
  font-family: "Work Sans", sans-serif;
}


.short-information {
  width:auto;
  height:auto;
  border:none;
  margin:auto;
  margin-bottom:10px;
}
 .caption1 {
  text-align:center;
  font-family: "Source Sans 3", sans-serif;
  font-weight:bold;
}

table {
  border:none;
  margin:auto;
}


.title-table-1 {
  background-color:#FDD017;
}

.title-table-2 {
  background-color:#FFD801;
}

.title-table-3 {
  background-color:#FDD017;
}

.title-table-4 {
  background-color:#FFD801;
}

.title-table-5 {
  background-color:#FDD017;
}

td {
  font-family: "Work Sans", sans-serif;
  
}
 th {
  font-family: "Source Sans 3", sans-serif;
 }
 
.main-container-Community-Social-Media {
  width:auto;
  height:95px;
  background-color:#3A3B3C;
}

.Box-Social-Media {
  width:auto;
  height:auto;
  display:flex;
  justify-content:center;
}
.div-Follow-Us {
  height:28px;
}
.Follow-Us {
  font-family: "Work Sans", sans-serif;
  text-align:center;
  color:white;
}

.insta, .spotify, .x, .tiktok, .youtube {
  color:white;
  font-size:20px;
}
.insta, .spotify, .x, .tiktok, .youtube {
  width:auto;
  height:auto;
  padding-left:2px;
  padding-right:2px;
}

.copyright {
  height:35px;
  width:auto;
  margin:auto;
  text-align:center;
}

.maker {
  color:#888B90;
  font-family: "Work Sans", sans-serif;
  font-size:12px;
}